.idea
logs
*.log
*.iml
.project
.classpath
.settings
*/.settings
*/.classpath
*/.project
*/*.iml
*/*.ipr
*/*.iws
*/build
*.log
src/main/webapp/WEB-INF/classes
target
*.mymetadata*
*bin/*
out
.DS_Store