body {
    background: #dddddd;
    font-size:1.2em;
}

.days{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

img {width: 100%}

img[src*="/layui/images/face/"] {width: auto}

.story-title {
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    width:70%;
    float: left
}

.content-block {
    line-height: 1.2;
    background: white;
    margin-top: -10px;
    margin-left: 2%;
    margin-right: 2%;
}